@import './utils/properties.scss';

.about-bloc{
    display: flex;
    margin-left: $leftMargin;
    gap: 120px;

    &__information{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        gap: 33px;
    }

    &__image{
        &--void{
            width: 17.7vw;
            height: 49vh;
            background-color: white;
        }
    }
}

.button-link{
    width: fit-content;
}
