@import './utils/properties.scss';

.about-bloc{
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 120px;
    // height: calc(100% - $marginSpace - $headerHeigth - $navigationHeight);

    &__information{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        gap: 33px;
    }

    &__image{
        &--test{
            width: 340px;
            height: 530px;
            background-color: white;
        }
    }
}
