@import './utils/properties.scss';

.contact-bloc{
    margin-left: $leftMargin;
    display: flex;
    gap: 120px;

    &__information{
        text-align: center;

        &--info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: 60px;

            &--spacing{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 621px;
        &--position-btn{
            text-align: center;
        }
    }
}