@import './utils/properties.scss';

.header-navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: $marginSpace*2;

    @media (max-width: 1024px){
        align-items: center;
    }

    &__btn-home{
        width: 33px;
        height: 33px;
        transition: transform 0.2s ease;
        &:hover{
            transform: scale(1.15);
        }
    }

    &__text{
        font-size: 21px;

        @media (max-width: 1024px){
            font-size: 12px;
        }
    }
}