@import './utils/properties.scss';

html, body, #root {
  height: 100%;
}

body {
  margin: $marginSpace;
  background: $backgroundColor;
  color: white;
  font-family: 'Kusanagi';
  overflow: hidden;
}
