@import './utils/properties.scss';

.modal-content{
    display: flex;
    width: 70vw;
    height: 70vh;
    background: $backgroundColor;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__image{
        flex: 1;
        background-color: white;

        &--close{
            width: 28px;
            height: 28px;
            margin: 28px;
        }
    }

    &__information{
        display: flex;
        flex-direction: column;
        gap: 33px;
        flex: 1;
        margin: 33px;

        &__title{
            font-size: 32px;
        }

        &--date{
            margin-bottom: 10px;
        }

        &--small-subtitle{
            margin-bottom: 10px;
        }

        &__line{
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(23, 22, 24, 0) 0%,  rgba(50, 49, 51, 0.5) 12.32%,rgba(74, 73, 74, 0.5) 26.25%, rgba(88, 88, 88, 0.5) 39.18%, rgba(93, 93, 93, 0.5) 50%, rgba(88, 88, 88, 0.5) 60.64%, rgba(72, 72, 73, 0.5) 73.95%, rgba(48, 47, 48, 0.5) 88.61%, rgba(23, 22, 24, 0) 100%);
        }
    }
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: $navigationHeight;
    position: fixed;
}

.overlay{
    background: rgba(0, 0, 0, 0.8);
}

