@import './utils/properties.scss';

.navigation-navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__bloc{
        height: $navigationHeight;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.03);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 6px solid transparent;

        &:hover{
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
}

.active {
    background-color: rgba(255, 255, 255, 0.06);
    border-bottom: 6px solid white;
}