@import './utils/properties.scss';

.projects-bloc__navigation{
    display: flex;
    flex-direction: column;
    gap: 90px;
    position: fixed;
    right: 50px;

    @media (max-width: 1024px){
       bottom: 33px;
       flex-direction: row;
    }

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.75vw;
        height: 3.75vw;
        border: 1px solid white;
        transform: rotate(45deg);
        transition: 0.115s ease;
        &:hover{
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
            cursor: pointer;

            @media (max-width: 1024px){
                box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
            }
        }

        &--text{
            transform: rotate(-45deg);
        }
    }
}

.active{
outline: 1px solid rgba(255, 255, 255, 0.1);
outline-offset: 15px;
box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
@media (max-width: 1024px){
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
}
}