@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/Montserrat-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Kusanagi';
    src: url('../../assets/Kusanagi.otf') format('truetype');
}

$backgroundColor: radial-gradient(circle farthest-side at 51.3% -27.69%, #313131 0%, #151416 100%);
$mediumText: 21px;
$marginSpace: 33px;
$navigationHeight: 79px;
$headerHeigth: 36px;

.noLinkDecoration{
    text-decoration: none;
    color: white;
}

.titleText{font-size: 76px; line-height: 1;}
.subtitleText{font-size: 38px;}
.mediumText{font-size: 21px;}
.smallText{font-size: 14px;}
.montserrat{font-family: 'Montserrat';}

h1, h2, h3{
    font-weight: normal;
    margin: 0;
}

.button-cta{
    background-color: white;
    border: none;
    height: 79px;
    font-family: 'Kusanagi';
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

