@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/Montserrat-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Kusanagi';
    src: url('../../assets/Kusanagi.otf') format('truetype');
}

$backgroundColor: radial-gradient(circle farthest-side at 51.3% -27.69%, #313131 0%, #151416 100%);
$mediumText: 21px;

.noLinkDecoration{
    text-decoration: none;
    color: white;
}

.mediumText{
    font-size: 21px;
}

.smallText{
    font-size: 14px;
}